[Unit]
Description=skyport daemon start service

[Service]
Type=simple
WorkingDirectory=/etc/skyport/daemon/
ExecStart=/usr/bin/node .
Restart=always

[Install]
WantedBy=multi-user.target